.section1 {
    background-image: url('./Images/facial-recognition-deepfake.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    opacity: 0.890;
    filter: brightness(30%);
    /* filter: grayscale(); */
    overflow-x: hidden;
    overflow-y: auto;
}

.section1 h1 {
    font-size: 100px;
    margin-bottom: 10px;
    color: black; 
}

.section1 p {
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

.section1 button {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(to right, #ff9966, #ff5e62);
    
}

.section1 button:hover {
    background-color: #0056b3;
    color: white;
}

@media (max-width: 768px) {
    .section1 {
        padding: 10px;
    }

    .section1 h1 {
        font-size: 20px;
    }

    .section1 p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .section1 {
        padding: 5px;
    }

    .section1 h1 {
        font-size: 18px;
    }

    .section1 p {
        font-size: 12px;
    }
}
